.navbar-brand {
    font-family: "Ubuntu";
    font-size: 1.875em;
}

.portrait-title h2 {
    display: none;
}

.avatar-circle {
    margin-bottom: 30px;
}
/*
#about h1 {
    font-family: "Ubuntu"
}*/